:root{
	--primario:#ffc107;
	--secundario:#ffa609;
	--fuenteprincipal: 3.8rem;
	

}
html{
	font-size: 62.5%;
}
body{
	font-size: 16px; /* 1rem = 10px */
	background: linear-gradient(to top, #ffa609 0%, white 50%) ;
}
h1{
	text-align: center;
	font-size: 3.8rem;
}

h2{
	font-size: 2.8rem;
}

h3{
	font-size: 1.8rem;
}

h1, h2, h3{
	text-align: center;
}

.titulo span{
	font-size: 2rem;
}
.contenedor{
	max-width: 120rem;
	margin: 0 auto;
}

.boton{
	background-color: var(--secundario);
	color: white;
	padding: 1rem 3rem;
	margin-top: 1rem;
	font-size: 2rem;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: .5rem;
	width: 70%;
	text-align: center;
	border: none;
}

.boton:hover{
	cursor: pointer;
}

@media (min-width: 768px){
	.boton{
		width: auto;
	}
}

.nave-menu{
	background-color: var(--secundario);
}

.menu-principal{
	display: flex;
	flex-direction: column;

}

@media(min-width: 768px){
	.menu-principal{
		flex-direction: row;
		justify-content: space-between;
	}
}

.menu-principal a{
	display: block;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 700;
	padding: 1rem;
	font-size: 2ren;
}

.menu-principal a:hover{
	background-color: var(--primario);
	color: #000;
}

.hero{
	background-image: url();
	background-repeat: no-repeat;
	background-size: cover;
	height: 250px;
	position: relative;
	margin-top: 3rem;
}

.contenido-hero{
	position: absolute;
	background-color: rgb( 0,0,0, .6);
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contenido-heroh2,
.contenido-herop{
	color: white;
}

.sombra{
	background: white;
	border-radius: 1rem;
	padding: 2rem;
}
@media(min-width: 768px){
.servicios{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 1rem;
}
}

.servicio{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.servicio h3{
	color: var(--secundario);
}

.servicio p{
	line-height: 2;
}

.servicio .iconos{
	height: 15rem;
	width: 15rem;
	background: var(--primario);
	border-radius: 50%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

}
.formulario{
	background-color:salmon;
	width: min(70rem, 70%);
	margin: 0 auto;
	padding: 2rem;
	border-radius: 1rem;
}

.formulario fieldset{
	border: none;
	padding: 4rem;
}

.formulario legend{
	color: var(--primario);
	text-align: center;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 2rem;

}
/*
@media(min-width: 768px){
	.contenedor-campo{
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto auto 20rem;
		column-gap: 1rem; }

	.campo:nth-child(3),
	.campo:nth-child(4){
		grid-column: 1 / 3;
	}
}
.campo{
	margin-bottom: 1rem;
}*/

.campo label{
	color: white;
	font-weight: bold;
	margin-bottom: 1.5rem;
	display: block;
	padding-top: 1rem;
}

.campo textarea{
	height: 20rem;
}

.input-text{
	width: 100%;
	border: none;
	padding: 1.5rem;
	border-radius: .5rem;
}

.galeria{
    width: 100%;
	display: flex;
	flex-wrap: wrap;
}
  
.galeria-img{
     width: 300px;
     margin:  auto ;
}
.img {
	width: 100%;
}
.contenedor2{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items:  center;
}
.btn-descarga{
	display: block;
	width: 80px;
	height: 80px;
	background: var(--secundario);
	border-radius: 40px ;
}
